{% extends 'common/base.html' %}


{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">タイトル</th>
                <th scope="col">内容</th>
                <th scope="col">投稿日</th>
                <th scope="col">カテゴリ</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr scope="row">
                <th>{{ item.title }}</th>
                <th>{{ item.content }}</th>
                <th>{{ item.postdate }}</th>
                <th>{{ item.category }}</th>
            </tr>
            {% endfor %}
        </tbody>      
    </table>
{% endblock content%}